[Unit]
Description=Uptime Kuma
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=uptime-kuma
Image=docker.io/louislam/uptime-kuma:1
AutoUpdate=registry
PublishPort=${SERVICE_PORT_HTTP}:3001
Volume=%h/.local/share/services/uptime-kuma/data:/app/data:Z,U
Pull=missing
EnvironmentFile=%h/.local/share/services/uptime-kuma/.env
HealthCmd=curl -sf http://localhost:3001/api/entry-page || exit 1

[Service]
EnvironmentFile=%h/.local/share/services/uptime-kuma/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
