[Unit]
Description=Supabase Storage
StartLimitIntervalSec=300
StartLimitBurst=3
Requires=supabase-db.service supabase-rest.service supabase-imgproxy.service
After=supabase-db.service supabase-rest.service supabase-imgproxy.service

[Container]
ContainerName=supabase-storage
Image=docker.io/supabase/storage-api:v1.48.26
Network=supabase.network:alias=storage
Volume=%h/.local/share/services/supabase/storage-data:/var/lib/storage:Z,U
Environment=PORT=5000
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env
HealthCmd=wget --no-verbose --tries=1 --spider http://storage:5000/status
HealthInterval=5s
HealthTimeout=5s
HealthRetries=3

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
