[Unit]
Description=Supabase Studio
StartLimitIntervalSec=300
StartLimitBurst=3
Requires=supabase-network.service
After=supabase-network.service

[Container]
ContainerName=supabase-studio
Image=docker.io/supabase/studio:2026.04.08-sha-205cbe7
Network=supabase.network:alias=studio
Environment=PORT=3000
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
