[Unit]
Description=Supabase Realtime
StartLimitIntervalSec=300
StartLimitBurst=3
Requires=supabase-db.service
After=supabase-db.service

[Container]
ContainerName=supabase-realtime
Image=docker.io/supabase/realtime:v2.76.5
HostName=realtime-dev.supabase-realtime
Network=supabase.network:alias=realtime-dev.supabase-realtime
Environment=PORT=4000
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env
HealthCmd=curl -sSfL --head -o /dev/null http://localhost:4000/api/health
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
