[Unit]
Description=Supabase Postgres Meta
StartLimitIntervalSec=300
StartLimitBurst=3
Requires=supabase-db.service
After=supabase-db.service

[Container]
ContainerName=supabase-meta
Image=docker.io/supabase/postgres-meta:v0.96.3
Network=supabase.network:alias=meta
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
