[Unit]
Description=Supabase Supavisor (connection pooler)
StartLimitIntervalSec=300
StartLimitBurst=15
Requires=supabase-db.service
After=supabase-db.service

[Container]
ContainerName=supabase-supavisor
Image=docker.io/supabase/supavisor:2.7.4
Network=supabase.network:alias=supavisor
PublishPort=${SERVICE_PORT_POSTGRES}:5432
PublishPort=${SERVICE_PORT_POOLER}:6543
Volume=%h/.local/share/services/supabase/configs/pooler/pooler.exs:/etc/pooler/pooler.exs:ro,z
Entrypoint=/bin/sh
Exec=-c "export DATABASE_URL=ecto://supabase_admin:$$POSTGRES_PASSWORD@db:$$POSTGRES_PORT/_supabase && /app/bin/migrate && /app/bin/supavisor eval \"$$(cat /etc/pooler/pooler.exs)\" && /app/bin/server"
Environment=PORT=4000
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env
HealthCmd=curl -sSfL --head -o /dev/null http://localhost:4000/api/health
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
