[Unit]
Description=Supabase API gateway (Kong)
StartLimitIntervalSec=300
StartLimitBurst=3
Requires=supabase-db.service supabase-auth.service supabase-rest.service supabase-realtime.service supabase-storage.service supabase-imgproxy.service supabase-meta.service supabase-studio.service
After=supabase-db.service supabase-auth.service supabase-rest.service supabase-realtime.service supabase-storage.service supabase-imgproxy.service supabase-meta.service supabase-studio.service
Wants=supabase-supavisor.service

[Container]
ContainerName=supabase-kong
Image=docker.io/kong/kong:3.9.1
Network=supabase.network:alias=kong
PublishPort=${SERVICE_PORT_HTTP}:8000
PublishPort=${SERVICE_PORT_HTTPS}:8443
Volume=%h/.local/share/services/supabase/configs/api/kong.yml:/home/kong/temp.yml:ro,z
Volume=%h/.local/share/services/supabase/configs/api/kong-entrypoint.sh:/home/kong/kong-entrypoint.sh:ro,z
Environment="KONG_NGINX_PROXY_PROXY_BUFFERS=64 160k"
Environment=KONG_DECLARATIVE_CONFIG=/tmp/kong.yml
Entrypoint=["/home/kong/kong-entrypoint.sh"]
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
