[Unit]
Description=Supabase imgproxy
StartLimitIntervalSec=300
StartLimitBurst=3
Requires=supabase-network.service
After=supabase-network.service

[Container]
ContainerName=supabase-imgproxy
Image=docker.io/darthsim/imgproxy:v3.30.1
Network=supabase.network:alias=imgproxy
Volume=%h/.local/share/services/supabase/storage-data:/var/lib/storage:Z,ro
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env
HealthCmd=imgproxy health
HealthInterval=5s
HealthTimeout=5s
HealthRetries=3

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
