[Unit]
Description=Supabase PostgREST
StartLimitIntervalSec=300
StartLimitBurst=3
Requires=supabase-db.service
After=supabase-db.service

[Container]
ContainerName=supabase-rest
Image=docker.io/postgrest/postgrest:v14.8
Network=supabase.network:alias=rest
Exec=postgrest
Pull=missing
EnvironmentFile=%h/.local/share/services/supabase/.env

[Service]
EnvironmentFile=%h/.local/share/services/supabase/.env
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target
