[Unit]
Description=Seafile MariaDB database
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/library/mariadb:10.11
AutoUpdate=registry
ContainerName=seafile-mariadb
Network=seafile.network:alias=mariadb
Volume=%h/.local/share/services/seafile/db-data:/var/lib/mysql:Z,U
HealthCmd=healthcheck.sh --connect --innodb_initialized
HealthStartPeriod=20s
HealthInterval=30s
HealthRetries=5
HealthTimeout=5s
Pull=missing
EnvironmentFile=%h/.local/share/services/seafile/.env

[Service]
EnvironmentFile=%h/.local/share/services/seafile/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
