[Unit]
Description=MinIO
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=minio
Image=docker.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
Network=minio.network
PublishPort=${SERVICE_PORT_HTTP}:9000
PublishPort=${SERVICE_PORT_CONSOLE}:9001
Pull=missing
EnvironmentFile=%h/.local/share/services/minio/.env
Volume=%h/.local/share/services/minio/data:/data:Z,U
Exec=server /data --console-address ":9001"
HealthCmd=curl -sf http://localhost:9000/minio/health/live || exit 1

[Service]
EnvironmentFile=%h/.local/share/services/minio/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
