[Unit]
Description=Ente web apps (Photos, Albums, Auth)
StartLimitIntervalSec=60
StartLimitBurst=3
Requires=ente.service
After=ente.service

[Container]
Image=ghcr.io/ente-io/web@sha256:51c6c801093aedd899f68ee40b70fc2dadf423ae0e15b5b3764e40c84c2b9766
ContainerName=ente-web
Network=ente.network
PublishPort=${SERVICE_PORT_PHOTOS}:3000
PublishPort=${SERVICE_PORT_ALBUMS}:3002
PublishPort=${SERVICE_PORT_AUTH}:3003
Pull=missing
EnvironmentFile=%h/.local/share/services/ente/.env
HealthCmd=curl -sSfL -o /dev/null http://localhost:3000
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Service]
EnvironmentFile=%h/.local/share/services/ente/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
