[Unit]
Description=Ente Museum API server
StartLimitIntervalSec=60
StartLimitBurst=3
Requires=ente-postgres.service ente-minio.service
After=ente-postgres.service ente-minio.service
Wants=ente-web.service

[Container]
Image=ghcr.io/ente-io/server:7be2c66fb69517eb1a2f67b0d94cc72817687df9
ContainerName=ente-museum
Network=ente.network:alias=museum
PublishPort=${RYRA_PORT_HTTP}:8080
Pull=missing
EnvironmentFile=%h/.local/share/services/ente/.env
HealthCmd=curl -sSfL -o /dev/null http://localhost:8080/ping
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Service]
EnvironmentFile=%h/.local/share/services/ente/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
