[Unit]
Description=Ente PostgreSQL database
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/library/postgres:15-alpine
ContainerName=ente-postgres
Network=ente.network:alias=postgres
Volume=%h/.local/share/services/ente/db-data:/var/lib/postgresql/data:Z,U
HealthCmd=pg_isready -q -d ${POSTGRES_DB} -U ${POSTGRES_USER}
HealthStartPeriod=30s
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s
Pull=missing
EnvironmentFile=%h/.local/share/services/ente/.env

[Service]
EnvironmentFile=%h/.local/share/services/ente/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
