[Unit]
Description=Inbucket
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=inbucket
Image=docker.io/inbucket/inbucket:3.1.1
Network=inbucket.network
PublishPort=${SERVICE_PORT_HTTP}:9000
PublishPort=${SERVICE_PORT_SMTP}:2500
Pull=missing
EnvironmentFile=%h/.local/share/services/inbucket/.env
HealthCmd=curl -sf http://localhost:9000/status || exit 1

[Service]
EnvironmentFile=%h/.local/share/services/inbucket/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
