[Unit]
Description=Nextcloud Redis cache
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/library/redis:7-alpine
AutoUpdate=registry
ContainerName=nextcloud-redis
Network=nextcloud.network:alias=redis
Volume=%h/.local/share/services/nextcloud/redis-data:/data:Z,U
Pull=missing
EnvironmentFile=%h/.local/share/services/nextcloud/.env
HealthCmd=redis-cli ping | grep -q PONG
HealthStartPeriod=5s
HealthInterval=10s
HealthRetries=5

[Service]
EnvironmentFile=%h/.local/share/services/nextcloud/.env
Restart=always
RestartSec=5
TimeoutStartSec=120

[Install]
WantedBy=default.target
