[Unit]
Description=Nextcloud PostgreSQL database
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/library/postgres:17-alpine
AutoUpdate=registry
ContainerName=nextcloud-postgres
Network=nextcloud.network:alias=postgres
Volume=%h/.local/share/services/nextcloud/db-data:/var/lib/postgresql/data:Z,U
Pull=missing
EnvironmentFile=%h/.local/share/services/nextcloud/.env
HealthCmd=pg_isready -U ${POSTGRES_USER:-postgres} || exit 1
HealthStartPeriod=10s
HealthInterval=10s
HealthRetries=5

[Service]
EnvironmentFile=%h/.local/share/services/nextcloud/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
