[Unit]
Description=Immich Valkey cache
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/valkey/valkey:9
AutoUpdate=registry
ContainerName=immich-valkey
Network=immich.network:alias=valkey
HealthCmd=redis-cli ping | grep PONG
HealthStartPeriod=20s
HealthInterval=30s
HealthRetries=5
HealthTimeout=3s
Pull=missing
EnvironmentFile=%h/.local/share/services/immich/.env

[Service]
EnvironmentFile=%h/.local/share/services/immich/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
