[Unit]
Description=Immich PostgreSQL database
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
ContainerName=immich-postgres
Network=immich.network:alias=postgres
Volume=%h/.local/share/services/immich/db-data:/var/lib/postgresql/data:Z,U
HealthCmd=pg_isready -d ${DB_DATABASE_NAME} -U ${DB_USERNAME}
HealthStartPeriod=30s
HealthInterval=30s
HealthRetries=5
HealthTimeout=5s
Pull=missing
EnvironmentFile=%h/.local/share/services/immich/.env

[Service]
EnvironmentFile=%h/.local/share/services/immich/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
