[Unit]
Description=Immich machine learning
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v2.7.4
ContainerName=immich-machine-learning
Network=immich.network:alias=machine-learning
Volume=%h/.local/share/services/immich/model-cache:/cache:Z,U
HealthCmd=python3 -c 'import requests; requests.get("http://localhost:3003/ping")' || exit 1
HealthStartPeriod=60s
HealthInterval=30s
HealthRetries=5
HealthTimeout=10s
Pull=missing
EnvironmentFile=%h/.local/share/services/immich/.env

[Service]
EnvironmentFile=%h/.local/share/services/immich/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
