[Unit]
Description=Paperless-ngx Redis cache
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=paperless-ngx-redis
Image=docker.io/library/redis:7-alpine
AutoUpdate=registry
Network=paperless-ngx.network:alias=redis
HealthCmd=redis-cli ping | grep PONG
HealthStartPeriod=20s
HealthInterval=30s
HealthRetries=5
HealthTimeout=3s
Pull=missing
EnvironmentFile=%h/.local/share/services/paperless-ngx/.env

[Service]
EnvironmentFile=%h/.local/share/services/paperless-ngx/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
