[Unit]
Description=Zammad WebSocket server
Requires=zammad-init.service zammad-railsserver.service
After=zammad-init.service zammad-railsserver.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=ghcr.io/zammad/zammad:7.0.1-0019
ContainerName=zammad-websocket
Network=zammad.network:alias=websocket
Volume=%h/.local/share/services/zammad/storage:/opt/zammad/storage:z,U
Exec=zammad-websocket
Pull=missing
EnvironmentFile=%h/.local/share/services/zammad/.env

[Service]
EnvironmentFile=%h/.local/share/services/zammad/.env
Restart=always
RestartSec=5
TimeoutStartSec=600

[Install]
WantedBy=default.target
