[Unit]
Description=Zammad PostgreSQL database
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/library/postgres:17.9-alpine
ContainerName=zammad-postgres
Network=zammad.network:alias=postgres
Volume=%h/.local/share/services/zammad/postgres-data:/var/lib/postgresql/data:Z,U
HealthCmd=pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}
HealthStartPeriod=30s
HealthInterval=30s
HealthRetries=5
HealthTimeout=5s
Pull=missing
EnvironmentFile=%h/.local/share/services/zammad/.env

[Service]
EnvironmentFile=%h/.local/share/services/zammad/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
