[Unit]
Description=Vaultwarden
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:1.35.4
PublishPort=${SERVICE_PORT_HTTP}:80
Volume=%h/.local/share/services/vaultwarden/data:/data:Z,U
Pull=missing
EnvironmentFile=%h/.local/share/services/vaultwarden/.env
HealthCmd=curl -sf http://localhost:80/alive || exit 1

[Service]
EnvironmentFile=%h/.local/share/services/vaultwarden/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
