[Unit]
Description=Vikunja task management
StartLimitIntervalSec=60
StartLimitBurst=3
After=network-online.target

[Container]
ContainerName=vikunja
Image=docker.io/vikunja/vikunja:2.3.0
Network=vikunja.network
PublishPort=${SERVICE_PORT_HTTP}:3456
Volume=${SERVICE_HOME}/db:/db:Z,U
Volume=${SERVICE_HOME}/files:/app/vikunja/files:Z,U
EnvironmentFile=%h/.local/share/services/vikunja/.env
Pull=missing

[Service]
EnvironmentFile=%h/.local/share/services/vikunja/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
